
<!-- <div>
  <h1>Welcome to Angular App Development</h1>
  <hr>
  <p>{{title}}</p>
  <p>
    <button (click)="clickOnMe()">Please click me!!!!</button>
  </p>
  <footer>
    <i>Learn with {{trainer}}</i>
  </footer>
</div>
<div>
  <h2>Other Components will come here!!!</h2>
  <app-calc></app-calc>
  <app-book-manager></app-book-manager>
</div> -->

<app-book-manager></app-book-manager> 

<!-- <h2> Welcome to User Registration Reactive Form</h2> 
<hr> 
<div> 
  <form [formGroup] ="regForm" (ngSubmit) = "onSubmit()"> 
    <div>
      <label>First Name</label>
      <input type = "text" formControlName="fname"/>
      <div class = "err" *ngIf="submitted &amp;&amp; regForm.controls.fname.errors"> 
        <div *ngIf="regForm.controls.fname.errors.required">
          First Name is Mandatory
        </div>
      </div>
    </div> 

    <div>
      <label>last Name</label>
      <input type = "text" formControlName="lname"/>
      <div class = "err" *ngIf="submitted &amp;&amp; regForm.controls.lname.errors"> 
        <div *ngIf="regForm.controls.fname.errors.required">
          Last Name is Mandatory
        </div>
      </div>
    </div> 

    <div>
      <label>Email Address</label>
      <input type = "text" formControlName="email"/>
      <div class = "err" *ngIf="submitted &amp;&amp; regForm.controls.email.errors"> 
        <div *ngIf="regForm.controls.email.errors.required">
          Email Address is Mandatory
        </div>
        <div *ngIf="regForm.controls.email.errors.email">
          Email is not in the correct Format
        </div>
      </div>
    </div> 

    <div>
      <label>Password</label>
      <input type = "text" formControlName="password"/>
      <div class = "err" *ngIf="submitted &amp;&amp; regForm.controls.password.errors"> 
        <div *ngIf="regForm.controls.password.errors.required">
          Password is Mandatory
        </div>
        <div *ngIf="regForm.controls.password.errors.minLenth">
          Password must be min of 8 characters
        </div>
      </div>
    </div> 

    <div>
      <button>Register</button>
    </div>

  </form>
</div> -->
